/* DEPRECATED see index.css */

.body {
    background-color: #bcf4a8;
  }
  
  .login {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    gap: 27px;
  
    width: 500px;
    height: 607px;
  
    background: #ffffff;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.15);
    border-radius: 40px;
  }
  .imgBox {
    width: 420px;
    height: 230px;
    background: #eef4a8;
    border-radius: 10px;
  }
  .inputBox {
    box-sizing: border-box;
  
    width: 420px;
    height: 50px;
  
    background: #ffffff;
    border: 2px solid #000000;
    box-shadow: inset 0px 5px 9px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }
  
  .rowButton {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 420px;
    height: 55px;
  }
  
  input {
    padding: 12px 20px;
  }