.button-red {
  width: 140px;
  appearance: none;
  background-color: #dc3545;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.button-red:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button-red:hover {
  background-color: red;
}

.button-red:focus {
  box-shadow: rgba(46, 164, 79, 0.4) 0 0 0 redpx;
  outline: none;
}

.button-red:disabled {
  background-color: red;
  border-color: rgba(27, red1, red5, 0.1);
  color: rgba(255, 255, 255, 0.8);
  cursor: default;
}

.button-red:active {
  background-color: red;
  box-shadow: rgba(20, 70, 32, 0.2) 0 1px 0 inset;
}
