.label__ {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}
.input__ {
  opacity: 0;
  width: 0;
  height: 0;
}

.span__ {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2c3e50;
  transition: 0.3s;
  border-radius: 30px;
}

.span__:before {
  position: absolute;
  content: '';
  height: 15px;
  width: 15px;
  left: 3px;
  bottom: 2.6px;
  background-color: #fff;
  border-radius: 50%;
  transition: 0.3s;
}

.input__:checked + span {
  background-color: #007bff;
}

.input__:checked + span:before {
  transform: translateX(20px);
}
